<!DOCTYPE html>
<html>
    <head>
        <title>DACI soluciones</title>      
        <link rel="stylesheet" href = "/css/bootstrap.min.css" />
        DACI
    </head>
    <body>
           <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">DACI soluciones</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
            
        <!-- Page Content -->
        <div class="container">
        
            <!-- Heading Row -->
            <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="font-weight-light">Quines somos</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary" href="#">Llamanos</a>
            </div>
            <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        
            <!-- Call to Action Well -->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Automatiza tu empresa has mas esforzándote menos, cuenta con nuetra magia</p>
            </div>
            </div>
        
            <!-- Content Row -->
            <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Mantenimiento de equipo electrico</h2>
                    <p class="card-text">Generamos los sitemas necesario.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">Mas información</a>
                </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Reparacion de equipos electricos </h2>
                    <p class="card-text">Implementamos la herramientas</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">Mas información</a>
                </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Creacion de aplicaciones y paginas web</h2>
                    <p class="card-text">Desarrollamos para tu negocio si ya cuentas con una le podemos dar soporte, de otro manera realizar mejoras para que se ajuste a tu crecimiento.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">Mas informacion</a>
                </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
        
            </div>
            <!-- /.row -->
        
        </div>
        <!-- /.container -->
        

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
            <p class="m-0 text-center text-white">DACI &copy; DACI soluciones 2019</p>
            <br>
            <p class="m-0 text-center text-white">  Mantenimiento y control 3007589094 </p>
            <br>
            <p class="m-0 text-center text-white">  Desarrolo web y app 3016331747 </p>
            </div>
            <!-- /.container -->
        </footer>
        <script type="javascript" src="/js/jquery.min.js"></script>
        <script type="javascript" src="/js/popper.js"></script>
        <script type="javascript" src="/js/bootstrap.min.js"></script>
        <script type="javascript" src="/../../public/javascripts/inicio.js"></script>
     
    </body>
    
</html>
